<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
  </head>
  <body>
    <nav class="navbar">
      <ul class="nav">
        <!-- <div class="nav"> -->
          <img src="../../assets/images/logo.png" class="brand-logo" alt="" />
          <div class="nav-items">
            <div class="search">
              <input type="text" class="search-box" placeholder="search product"/>
              <button class="search-btn">search</button>
            </div>
            <a href=""> <i class="ti ti-user"></i></a>
            <a href=""> <i class="ti ti-bag"> <span class="badge">(3)</span></i></a>
          </div>
        <!-- </div> -->
      </ul>

      <ul class="links-container">

        <div  class="link-item">
          

          <a  href="#">
            <img id="category-image" src="../../../assets/images/moblielogo.png" alt="">
            <h6 class="list-text">Electronics</h6>
        </a>

      </div>
      <div class="link-item">
          <a href="#">
              <img id="category-image" src="../../../assets/images/moblielogo.png" alt="">
              <h6>Electronics</h6>
          </a>
      </div>
      <div class="link-item">
          <a href="#">
              <img id="category-image" src="../../../assets/images/moblielogo.png" alt="">
              <h6>Electronics</h6>
          </a>
      </div>
      <div class="link-item">
          <a href="#">
              <img id="category-image" src="../../../assets/images/moblielogo.png" alt="">
              <h6>Electronics</h6>
          </a>
      </div>

      <div class="link-item">
        <a href="#">
            <img id="category-image" src="../../../assets/images/moblielogo.png" alt="">
            <h6>Electronics</h6>
        </a>
    </div>

      </ul>
    </nav>

    <script src="">myjsfile.js</script>

  </body>
</html>