<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Product</title>
  </head>
  <body>
    <!-- <app-navbar></app-navbar> -->
    <div class="bg-img">
      <div class="content">
        <header>Update Product</header>

        <!-- <form [formGroup]="loginform" (ngSubmit)="submitData()"> -->
            <form>
          <div class="field space">
            <span class="ti ti-google"></span>
            <input
              type="email"
              formControlName="email"
              name="email"
              placeholder="Enter Your Email"
              required
            />
          </div>

          <div class="field space">
            <span class="ti ti-lock"></span>
            <input
              type="password"
              formControlName="password"
              name="password"
              placeholder="Enter Your Password"
              required
            />
          </div>

          <div class="field space">
            <span class="ti ti-lock"></span>
            <input
              type="password"
              formControlName="password"
              name="password"
              placeholder="Enter Your Password"
              required
            />
          </div>

          <div class="field space  text-cented p-1 ">
            <input
              type="file"
              formControlName="myfile"
              name="myfile"
              required
            />
          </div>

          <div class="field field-btn">
            <input type="submit" value="UPDATE PRODUCT" />
          </div>
        </form>

        

        <div class="signup">
          Don't have account
          <a routerLink="/login">Signup Now</a>
        </div>
      </div>
    </div>
  </body>
</html>
