<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<!-- <app-navbar></app-navbar> -->
 <!-- <app-home></app-home> -->
<!-- <app-view-product></app-view-product>  -->
 <!-- <app-mylogin></app-mylogin> --> 
<!-- <app-mysignup></app-mysignup> -->
<!-- <h2>Order List</h2> -->
<!-- <app-list-order></app-list-order> -->
<!-- <app-footer></app-footer> -->
<!-- <app-add-product></app-add-product> -->
<!-- <app-signup></app-signup> -->
<!-- <app-update-product></app-update-product> -->
<!-- <app-admin-dashboard></app-admin-dashboard> -->
<!-- <app-signup></app-signup> -->
<!-- <app-addproducts></app-addproducts> -->
<!-- <app-editproducts></app-editproducts> -->
<app-mycart></app-mycart>

<router-outlet></router-outlet>
    
</body>
</html>



