<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <section id="products" class="products">
       <div class="container">
           <div class="row">
               <div class="col-sm-12">
                   <div class="headline text-center mb-5">
                       <h2 class="pb-3 position-relative d-inline-block">FEATURED PRODUCTS</h2>
                   </div>
               </div>
           </div>

           <div class="row">
               <div class="col-sm-6 col-lg-4">
                   <a href="#" class="d-block text-center mb-4">
                       <div class="product-list">
                           <div class="product-image position-relative">
                               <span class="sale">Sale</span>
                               <img src="../../assets/images/p1.jpg" alt="products" class="img-fluid product-image-first">
                               <img src="../../assets/images/p3.jpg" alt="products" class="img-fluid product-image-secondry">
                           </div>
                       </div>
                       <div class="product-name pt-3">
                           <h3 class="text-capitalize">Winter Long Sleeve Black White</h3>
                            <p class="mb-0 account">$400.00 <del>$580.00</del></p>
                            <div class="py-1">
                                <span class="ti-star"></span>
                                <span class="ti-star"></span>
                                <span class="ti-star"></span>
                                <span class="ti-star"></span>
                                <span class="ti-star"></span>
                            </div>
                            <button type="button" class="add-to-Cart">ADD TO CART</button>
                       </div>
                   </a>
               </div>
               <div class="col-sm-6 col-lg-4">
                <a href="#" class="d-block text-center mb-4">
                    <div class="product-list">
                        <div class="product-image position-relative">
                            <span class="sale">Sale</span>
                            <img src="../../assets/images/p1.jpg" alt="products" class="img-fluid product-image-first">
                            <img src="../../assets/images/p3.jpg" alt="products" class="img-fluid product-image-secondry">
                        </div>
                    </div>
                    <div class="product-name pt-3">
                        <h3 class="text-capitalize">Winter Long Sleeve Black White</h3>
                         <p class="mb-0 account">$400.00 <del>$580.00</del></p>
                         <div class="py-1">
                             <span class="ti-star"></span>
                             <span class="ti-star"></span>
                             <span class="ti-star"></span>
                             <span class="ti-star"></span>
                             <span class="ti-star"></span>
                         </div>
                         <button type="button" class="add-to-Cart">ADD TO CART</button>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="#" class="d-block text-center mb-4">
                    <div class="product-list">
                        <div class="product-image position-relative">
                            <span class="sale">Sale</span>
                            <img src="../../assets/images/p1.jpg" alt="products" class="img-fluid product-image-first">
                            <img src="../../assets/images/p3.jpg" alt="products" class="img-fluid product-image-secondry">
                        </div>
                    </div>
                    <div class="product-name pt-3">
                        <h3 class="text-capitalize">Winter Long Sleeve Black White</h3>
                         <p class="mb-0 account">$400.00 <del>$580.00</del></p>
                         <div class="py-1">
                             <span class="ti-star"></span>
                             <span class="ti-star"></span>
                             <span class="ti-star"></span>
                             <span class="ti-star"></span>
                             <span class="ti-star"></span>
                         </div>
                         <button type="button" class="add-to-Cart">ADD TO CART</button>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="#" class="d-block text-center mb-4">
                    <div class="product-list">
                        <div class="product-image position-relative">
                            <span class="sale">Sale</span>
                            <img src="../../assets/images/p1.jpg" alt="products" class="img-fluid product-image-first">
                            <img src="../../assets/images/p3.jpg" alt="products" class="img-fluid product-image-secondry">
                        </div>
                    </div>
                    <div class="product-name pt-3">
                        <h3 class="text-capitalize">Winter Long Sleeve Black White</h3>
                         <p class="mb-0 account">$400.00 <del>$580.00</del></p>
                         <div class="py-1">
                             <span class="ti-star"></span>
                             <span class="ti-star"></span>
                             <span class="ti-star"></span>
                             <span class="ti-star"></span>
                             <span class="ti-star"></span>
                         </div>
                         <button type="button" class="add-to-Cart">ADD TO CART</button>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="#" class="d-block text-center mb-4">
                    <div class="product-list">
                        <div class="product-image position-relative">
                            <span class="sale">Sale</span>
                            <img src="../../assets/images/p1.jpg" alt="products" class="img-fluid product-image-first">
                            <img src="../../assets/images/p3.jpg" alt="products" class="img-fluid product-image-secondry">
                        </div>
                    </div>
                    <div class="product-name pt-3">
                        <h3 class="text-capitalize">Winter Long Sleeve Black White</h3>
                         <p class="mb-0 account">$400.00 <del>$580.00</del></p>
                         <div class="py-1">
                             <span class="ti-star"></span>
                             <span class="ti-star"></span>
                             <span class="ti-star"></span>
                             <span class="ti-star"></span>
                             <span class="ti-star"></span>
                         </div>
                         <button type="button" class="add-to-Cart">ADD TO CART</button>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                   <a href="#" class="d-block text-center mb-4">
                       <div class="product-list">
                           <div class="product-image position-relative">
                               <span class="sale">Sale</span>
                               <img src="../../assets/images/p1.jpg" alt="products" class="img-fluid product-image-first">
                               <img src="../../assets/images/p3.jpg" alt="products" class="img-fluid product-image-secondry">
                           </div>
                       </div>
                       <div class="product-name pt-3">
                           <h3 class="text-capitalize">Winter Long Sleeve Black White</h3>
                            <p class="mb-0 account">$400.00 <del>$580.00</del></p>
                            <div class="py-1">
                                <span class="ti-star"></span>
                                <span class="ti-star"></span>
                                <span class="ti-star"></span>
                                <span class="ti-star"></span>
                                <span class="ti-star"></span>
                            </div>
                            <button type="button" class="add-to-Cart">ADD TO CART</button>
                       </div>
                   </a>
               </div>
           </div>
           
       </div> 
    </section>
</body> 
</html>
