<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
  </head>
  <body>
    <app-navbar></app-navbar>
    <div class="bg-img">
      <div class="content">
        <header>Signup</header>

        <form >

          <div class="field">
            <span class="ti ti-user"></span>
            <input type="text" formControlName="name" for="name" placeholder="Enter Your Name" required />
          </div>

          <div class="field space">
            <span class="ti ti-google"></span>
            <input type="email" form="email" placeholder="Enter Your Email" required />
          </div>

          <div class="field space">
            <span class="ti ti-mobile"></span>
            <input type="number" form="phone" placeholder="Enter Your Phone" required />
          </div>

          <div class="field space">
            <span class="ti ti-lock"></span>
            <input type="password" form="password" placeholder="Enter Your Password" required />
          </div>

          <div class="field space">
            <span class="ti ti-lock"></span>
            <input type="text" form="userType" placeholder="Enter Your User Type" required />
          </div>

          <div class="field space">
            <span class="ti ti-home"></span>
            <input type="text" for="address" placeholder="Enter Your Address" required />
          </div>

          <!-- <div class="pass">
            <a href="#">Forget Password?</a>
          </div> -->

          <div class="field field-btn">
            <input type="submit" value="SIGNUP"/>
          </div>
        </form>

        <!-- <div class="login">Or Login With</div>
        <div class="links">
          <div class="facebook">
            <i class="ti ti-facebook"><span>Facebook</span></i>
          </div>
          <div class="instagram">
            <i class="ti ti-instagram"><span>Instagram</span></i>
          </div>
        </div> -->

        <div class="signup">
          Already Account
          <a routerLink="/login">Login Now</a>
        </div>
      </div>
    </div>
  </body>
</html>
