<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-navbar></app-navbar>
    <!-- Slider -->
  <section id="home" class="home pt-5 overflow-hidden ">
    
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="home-banner home-banner-1 ">
                <div class="home-banner-text">
                    <h1>Women</h1>
                    <h2>52% Discount for this seassion</h2>
                    <a href="#" class="btn btn-success text-uppercase mt-3">Our Products</a>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="home-banner home-banner-2 ">
                <div class="home-banner-text">
                    <h1>eShop</h1>
                    <h2>With Working Card & Pay Pal</h2>
                    <a href="#" class="btn btn-success text-uppercase mt-3">Our Products</a>
                </div>
            </div>
          </div>
         
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true">
              <span class="ti-angle-left slider-icon"></span>
          </span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true">
            <span class="ti-angle-right slider-icon"></span>
          </span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
  </section>
</body>
</html>
